body {
    font-family: "Lato", sans-serif;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 50%), url (../img/congrat.jpg)); */
    background-image: linear-gradient(
            to right bottom,
            rgba(83, 109, 254, 0.5),
            rgba(48, 63, 159, 0) 95%
        ),
        url(../img/congrat.jpg);

    background-size: cover;
    background-repeat: no-repeat;
}
.heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #4f72b3, #0e2694);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.heading-tertiary {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #edf3eb, #f1f8f6);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
}

.page-body {
    padding: 5rem 45rem;
}

.panel-heading {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.panel-body {
    font-size: 1.6rem;
}
.panel {
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 5rem;
    background-image: linear-gradient(to right, #4f72b3, #0e2694);
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10rem;
    border: none;
    font-weight: 400;
    font-style: inherit;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.but {
    width: 100%;
    text-align: center;
}
.butt {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hi,
.message {
    font-size: 2rem;
    font-weight: 600;
    /* background-image: linear-gradient(to right, #536dfe, #303f9f);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; */
}
.before {
    margin-top: 2rem;
    font-size: 2rem;
    /* font-weight: 600; */
}
.won {
    color: #03126f;
}
.tek {
    color: #e88834;
}

.tek,
.won {
    font-weight: bolder;
    text-transform: uppercase;
}
.sch {
    text-transform: uppercase;
    color: #03126f;
}
.req {
    text-decoration: underline;
    font-weight: 600;
    color: #03126f;
}
.pay {
    text-transform: uppercase;
    font-weight: 600;
    color: #03126f;
}
.power {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
}

.power .pow {
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    .page-body {
        padding: 5rem 30rem;
    }
}
@media screen and (max-width: 900px) {
    .page-body {
        padding: 5rem 15rem;
    }
}
